<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://connect.facebook.net/en_US/fbinstant.6.2.js"></script>
    <style>
        body {
            margin: 0px;/*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
        }
    </style>
</head>
<body>
	<div id="content">
	</div>
</body>
</html>